/* HEADER */

@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Gabarito:wght@600&family=Roboto:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(220, 220, 220);
}

.container {
    margin: 0;
    padding: 0;
    position: relative;
}


header h1 {
    display: flex;
    text-align: center;
    align-items: center;
    color: black;
    font-family: "Gabarito", sans-serif;
    font-size: 230%;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

/* -- SITE NAV -- */

li, a, button {
    font-family: "Gabarito", sans-serif;
    font-weight: 500;
    color: black;
    font-size: 130%;
}

.links {
    list-style: none;
}

.links li {
    transition: all 0.3s ease 0s;
    display: inline-block;
}

.links li a {
    
    padding: 0px 20px;
}

.links li a:hover {
    color: rgb(140, 15, 205);
}

button {
    padding: 10px 30px;
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    border-color: rgb(220, 220, 220);
    border-bottom: solid rgb(220, 220, 220);
    border-right: solid rgb(220, 220, 220);
    border-left: solid rgb(220, 220, 220);
    border-top: solid rgb(220, 220, 220);
}

button:hover {
    background-color: rgb(200, 200, 200);

}

/* BODY */

body {
    background-color: rgb(220, 220, 220);
    background-image: linear-gradient(to right, rgb(220, 220, 220), rgb(220, 220, 220), rgb(220, 220, 220), rgb(140, 15, 205) );
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

h2 {
    text-align: left;
    color: black;
    font-family: "Gabarito", sans-serif;
    padding-left: 189px;
    font-size: 430%;
    margin-top: 50px;
    color: rgb(140, 15, 205);
}

@media screen and (max-width: 1200px) {
    .hide {
        display: none;
    }
}

p {
    text-align: center;
    color: black;
    font-family: "Gabarito", sans-serif;
    font-size: 25px;
    margin-left: 3%;
}

.fix {
    clear: both;
}

.highlight {
    color: rgb(140, 15, 205);
}

.images {
    float: left;
    margin-left: 15%;
    margin-top: 3%;
}

.audio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 33%;
    margin-top: 30px;
}

.joji {
    margin-right: 33%;
    margin-top: 35px;
}

.keshi {
    margin-right: 33%;
    margin-top: 35px;
}

.d4vd {
    margin-right: 33%;
    margin-top: 35px;
}

/* FOOTER */

footer {
    margin-top: 9.67%;
    text-align: center;
    align-items: center;
    color: black;
    font-family: "Gabarito", sans-serif;
    margin-left: 70%;
}

/* MEDIA QUERY */

@media screen and (max-width: 800px) {
    body {
        font-size: 7px;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    header {
        font-size: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    footer {
        font-size: 5px;
        text-align: center;
        margin-top: 24%;
    }
}

